{% extends 'base.html.twig' %}

{% block title %}Mes Recettes
{% endblock %}

{% block body %}
	<div class="container my-3">

		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if not recipes.items is same as ([]) %}

			<h1>Mes recettes</h1>

			<a href="{{ path('recipe.new') }}" class="btn btn-primary mt-3">Création d'une recette</a>

			<div class="count">
				<p class="text-warning">Il y a
					{{ recipes.getTotalItemCount }}
					recette(s) au total.</p>
			</div>

			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Difficulté</th>
						<th scope="col">Date de création</th>
						<th scope="col">Editer</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>

				<tbody>

					{% for recipe in recipes %}
						<tr class="table-light my-3">
							<th scope="row">{{ recipe.id }}</th>
							<td>{{ recipe.name }}</td>
							<td>
								{% if recipe.price is null%}
									non renseingné
								{% else %}
									{{ recipe.price|number_format(2, '.', ',') }}
									€
								{% endif %}
							</td>
							<td>
								{% if recipe.difficulty is null%}
									non renseingné
								{% else %}
									{{ recipe.difficulty}}
								{% endif %}
							</td>
							<td>{{ recipe.createdAt|date("d/m/Y") }}</td>
							<td>
								<a href="{{ path ('recipe.edit', {id: recipe.id} ) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path ('recipe.delete', {id: recipe.id} ) }}" class="btn btn-primary">Supprimer</a>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center my-3">
				{{ knp_pagination_render(recipes) }}
			</div>

		{% else %}
			<h4 class="text-danger">Il n'y a pas de recettes.</h4>
			<a href="{{ path('recipe.new') }}" class="btn btn-primary mt-3">Création d'une recette</a>
		{% endif %}

	</div>
{% endblock %}
